.photos {
    display: grid;
    grid-template-columns: repeat(5, 273px);
    grid-gap: 20px; 
  }
  
  .dtls{
    margin: 30px;
    padding: 10px;
  }

  .dtls img {
    max-width: 100%; 
    height: auto;
  }
  
  .dtls p {
    margin: 0;
  }
  